/* Estilo general */
body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12pt;
    background-color: #1A1E2B !important; /* Forzar el fondo */
    color: #EDEDED;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
}

/* Asegurar que el container no tenga otro fondo */
.container {
    background-color: transparent !important;
}

/* Header */
header {
    background: #12151E; /* Azul más oscuro */
    color: white;
    text-align: center;
    padding: 15px 0;
    width: 100%;
    font-size: 18px;
    font-weight: bold;
}

/* Enlace del título */
header h1 a {
    color: white;
    text-decoration: none;
    font-size: 26px;
    font-weight: bold;
    transition: transform 0.2s ease, color 0.3s ease;
}

header h1 a:hover {
    transform: scale(1.1);
    color: #94a3b8;
}

/* Contenedor de la foto */
.photo-viewer {
    background-color: #1A1E2B; /* Azul oscuro */
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

/* Imagen de la foto */
.photo-viewer img {
    background-color: #1A1E2B; /* Azul oscuro */
    max-width: 90%;
    max-height: 80vh;
    border-radius: 8px;
    transition: transform 0.3s ease;
}

.photo-viewer img:hover {
    transform: scale(1.02);
}

/* Navegación */
.navigation {
    background-color: #1A1E2B; /* Azul oscuro */
    display: flex;
    justify-content: center;
    align-items: center;

    border-radius: 10px;
    padding: 15px;
    margin-top: 15px;
}

/* Botones de navegación */
.nav-btn {
    background-color: #1A1E2B; /* Azul oscuro */
    color: #12151E;
    font-size: 18px;
    border: none;
    padding: 10px 15px;
    margin: 0 5px;
    cursor: pointer;
    border-radius: 5px;
    transition: background 0.3s ease, transform 0.2s ease;
}

.nav-btn:hover {
    background-color: #1A1E2B; /* Azul oscuro */
    transform: scale(1.1);
}

/* Contador */
.counter {
    font-weight: bold;
    font-size: 18px;
    margin: 0 10px;
}

/* Estilos de los banners */
.ad-space {
    display: flex;
    justify-content: center;
    margin: 20px 0;
}

.ad-space img {
    max-width: 80%;
    height: auto;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}
